.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 9.6rem;
  align-items: center;
  height: 75vh;

  & .box {
    z-index: 10;
    border-radius: 2px;
    transition: all 0.2s;
    padding: 0 1.5rem;
  }

  & .description {
    font-size: 1.8rem;
    line-height: 1.6;
    font-weight: 600;
    padding: 0.5rem 0 5rem 0;
  }

  .testing {
    margin-top: 3rem;
    border: none;
    color: #ffff;
    font-family: 'Coiny', sans-serif;
    line-height: 1;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    font-weight: 600;
    background-image: linear-gradient(
      135deg,
      #fd736cf7,
      #fe726a,
      #ff9b98,
      #ffb6b3c6
    );
    // color: inherit;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(110%) rotate(-2deg);
    }
  }
}

.hero-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 0.5rem;
  width: 40vw;
  z-index: 0;
  position: relative;

  img {
    transform: rotateZ(-3deg);
    border-radius: 2px;
    height: auto;
    width: 100%;
    overflow: hidden;
    display: block;

    transition: all 0.2s;
  }
}

.hero-gallery img:nth-of-type(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
  z-index: 10;
}

@media (max-width: 59em) {
  .hero {
    grid-template-columns: 1fr;
    padding: 4rem 8rem;
    gap: 6.4rem;
  }

  .box {
    text-align: center;
  }

  .hero-gallery {
    padding: 8rem 0;
    width: 80%;
  }
}
