@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=Inter:wght@400;500;600;700&display=swap');

:root {
  /* Colors */
  --color-background: rgba(254, 239, 199, 0.943);
  --color-background-shade: #fceec2;
  --color-primary: #223142;
  --color-primary-tint: #515e6d;
  --color-secondary: #84a598;
  --color-tertiary: #f7c278;
  --clr-brown: #bf7b3f;
  --clr-brown-100: #c28550;
  --clr-brown-200: #c59062;
  --clr-brown-300: #be946e;
  --clr-brown-400: #bf9b7b;
  --color-btn: #fd736c;
  --color-btn-hover: #fd817b;

  --color-btn-50: #fd736c;
  --color-btn-100: #fd8f89;
  --color-btn-200: #fe9d98;
  --color-btn-300: #fed5d3;

  --color-white: #fff;
  --color-black: #000;
  --default-font-size: 1.6rem;
  --clr-orange-100: #ffedd5;
  --clr-orange-200: #fed7aa;
  --clr-yellow-100: #ffd936;
  --clr-yellow-200: #dab200;
  --clr-green-100: #536942;
  --clr-green-200: rgba(82, 104, 64, 0.75);
  --clr-green-300: rgba(82, 104, 64, 0.8);
  --clr-green-400: rgba(82, 104, 64, 0.5);
  --clr-green-500: rgba(82, 104, 64, 0.3);
  --clr-green-600: #7ed56f;
  --clr-brown-200: #cb9274;
  --clr-bg: #f6f8f5;

  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;
  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;

  /* Font family */
  --font-family-base: 'Inter', -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', Arial, sans-serif;
  --font-family-base-variant: 'Open Sans', sans-serif;
  --font-family-monospace: Menlo, 'IBM Plex Mono', Menlo, monospace;
  --font-family-heading: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    Arial, sans-serif;
  --font-family-nav: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial,
    sans-serif;
}
/* resets */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.6;
  font-size: 62.5%;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

body {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  overflow: hidden;
  background: var(--color-background);
}
/*
  Remove list styles (bullets/numbers)
*/
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

/* Prevent Text Overflow */
p,
li,
h1,
h2,
h3,
h4 {
  /* Help prevent overflow of long words/names/URLs */
  word-break: break-word;

  /* // Optional, not supported for all languages: */
  hyphens: auto;

  /* // Clear top margin */
  margin-top: 0;
}

/* // Button Styling Resets */
a.button {
  text-decoration: none;
}

/* // Reset default button styles */
button.button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

/* // Flex alignment comes in handy should you add icons in the future, or impose width restrictions. */

a.button,
button.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  /* Visual */
  /*  ... existing styles */
  /*  background-color: $btnColor; */
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
}

a.button:focus,
button.button:focus {
  outline-style: solid;
  outline-color: transparent;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  background: transparent;
  /* -webkit-appearance: none; */
}

button,
fieldset,
input,
legend,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-primary);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  font-family: 'Open Sans', sans-serif;
}

.heading-primary {
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.05;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
  text-transform: capitalize;
  color: var(--color-primary);
  z-index: 10;
  box-shadow: 0 1.5rem 4rem rgba(#333, 0.7);
  transition: all 0.2s;
}

.heading-secondary {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 9.6rem;

  /* &--center {
    color: var(--color-primary);
    font-size: 3.5rem;
    text-align: center;
    line-height: 1.05;
  } */
}

.heading-secondary--center {
  color: var(--color-primary);
  font-size: 3.5rem;
  text-align: center;
  line-height: 1.05;
}

.heading-tertiary {
  font-size: 3rem;
  margin-bottom: 3.5rem;
  text-transform: capitalize;
  color: var(--color-primary);
}

.center {
  text-align: center;
}

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.5rem;
  }

  /* .gallery {
    grid-template-columns: repeat(2, 1fr);
  } */
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }
}
