/**************************/
/* HEADER */
/**************************/
.header {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 1.8rem 5rem 1.8rem;
  // background-color: var(--color-background-shade);
}

.section-hero {
  padding: 9.6rem 0;
  // background-color: var(--color-background-shade);
  background-image: linear-gradient(
      to right bottom,
      rgba(#fff5d6, 0.5),
      rgba(#fceec2, 0.2)
    ),
    url(./assets/header-bg.jpg);
  background-size: cover;
  background-position: start;
  background-repeat: no-repeat;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  padding: 1.6rem 3.6rem;
  border-radius: 5rem;
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  // background-color: #333;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: var(--color-background-shade);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--color-background-shade);
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

/**************************/
/* SECTION SESSIONS */
/**************************/

.section-sessions {
  // padding: 9.6rem 0;
  padding: 4.8rem 0 9.6rem 0;
  background-color: #f7f7f7;
}

/**************************/
/* SECTION GALLERY */
/**************************/

.section-companies {
  padding: 9.6rem 0;
  background-color: #f7f7f7;

  align-items: center;
  justify-content: center;

  span {
    text-align: center;
  }
}

// .item {
//   display: grid;
//   padding: 14rem 3.5rem;
// }

// .item img {
//   width: 200px;
//   height: auto;
// }

// .item:last-child {
//   padding-top: 14rem;
// }
