/**************************/
/* HEADER */
/**************************/
header {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 1.8rem 5rem 1.8rem;
  background-color: var(--color-background-shade);
}

.section-hero {
  padding: 9.6rem 0;
  background-color: var(--color-background-shade);
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-text-box {
  z-index: 10;
  padding: 1rem;
  // box-shadow: 0 1.5rem 4rem rgba(#333, 0.4);
  border-radius: 2px;
  z-index: 10;
  transition: all 0.2s;
  padding: 0 1.5rem 0 0.5rem;
}

.hero-img-box {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 20rem 15rem 20rem;
  column-gap: 10px;
  row-gap: 15px;

  justify-items: center;
  justify-content: center;
}

.hero-img {
  transform: rotateZ(-3deg);
  width: 100%;
  height: min(20vh, 600px);
  object-fit: contain;
}

.hero-description {
  font-size: 1.9rem;
  line-height: 1.6;
  font-weight: 600;
  padding: 0.5rem 0 5rem 0;
}

.grid-gallery {
  column-gap: 0.7%;
  display: grid;
  grid-template-columns: 16.42% 12.35% 12.35% 12.5% 12.5% 12.35% 8.28% 8.28%;
  grid-template-rows: 1fr 0.07fr 0.12fr 0.44fr 0.638fr;
  grid-gap: 10px;
  column-gap: 6px;
  grid-column-gap: 0.7%;
  left: 98%;
  margin: 90px -45vw 0;
  position: relative;
  right: 52%;
  width: 69vw;
  z-index: 0;

  img {
    border-radius: 2px;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
}

.grid-gallery img:nth-of-type(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;

  box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
  border-radius: 2px;
  z-index: 10;
  transition: all 0.2s;
}

.grid-gallery img:nth-of-type(2) {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
}

.grid-gallery img:nth-of-type(3) {
  grid-column: 2 / span 1;
  grid-row: 4 / span 2;
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
}

.grid-gallery img:nth-of-type(4) {
  align-self: end;
  grid-column: 3;
  grid-row: 1 / span 4;

  border-radius: 2px;
  z-index: 10;
  transition: all 0.2s;
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
}

.grid-gallery img:nth-of-type(5) {
  grid-column: 3 / span 3;
  grid-row: 1 / span 3;
}

.grid-gallery img:nth-of-type(6) {
  grid-column: 4 / span 1;
  grid-row: 4 / span 1;
}

.grid-gallery img:nth-of-type(7) {
  grid-column: 5;
  grid-row: 4 / span 1;

  box-shadow: 0 1.5rem 4rem rgba(#333, 0.4);
  border-radius: 2px;
  z-index: 10;
  transition: all 0.2s;
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
}

// .grid-gallery img:nth-of-type(8) {
//   grid-column: 4 / span 2;
//   grid-row: 4;
// }

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  padding: 1.6rem 3.6rem;
  border-radius: 5rem;
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  // background-color: #333;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: var(--color-background-shade);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--color-background-shade);
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

/**************************/
/* SECTION COMPANIES */
/**************************/

.section-companies {
  padding: 9.6rem 0;
  background-color: #f7f7f7;

  align-items: center;
  justify-content: center;

  span {
    text-align: center;
  }
}

.item {
  display: grid;
  padding: 14rem 3.5rem;
}

.item img {
  width: 200px;
  height: auto;
}

.item:last-child {
  padding-top: 14rem;
}
