.section-about {
  // padding: 9.6rem 0;
  padding: 18.8rem 0 12.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 1.2rem;
}

.description {
  font-size: 1.9rem;
  line-height: 1.8;
}

.about-img {
  width: 80%;
  padding: 1rem 0;
  border-radius: 3rem;
}

.about-container {
  padding-top: 9rem;
}
