.section-services {
  // padding: 9.6rem 0;
  padding: 12.8rem 0 9.6rem 0;

  background: rgb(255, 237, 182);
  background: linear-gradient(
    0deg,
    rgba(254, 239, 199, 0.943) 22%,
    rgba(255, 255, 255, 1) 100%
  );
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 1.2rem;
}

.description {
  font-size: 1.9rem;
  line-height: 1.8;
}
