.section-services {
  // padding: 9.6rem 0;
  padding: 18.8rem 0 12.6rem 0;

  background: rgb(255, 231, 195);
  background: linear-gradient(
    0deg,
    rgba(255, 216, 160, 0.905) 13.3333333%,
    rgba(255, 239, 217, 0.905) 63.3333%,
    rgba(255, 255, 255, 1) 99.37373%
  );
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 1.2rem;
}

.description {
  font-size: 1.9rem;
  line-height: 1.8;
}
