.section-services {
  // padding: 9.6rem 0;
  padding: 4.8rem 0 9.6rem 0;
  background-color: var(--color-background);
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 1.2rem;
}

.description {
  font-size: 1.9rem;
  line-height: 1.8;
}
