@use 'pages';

.container {
  /* 1140px */
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.container-flex {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  padding: 0 3.2rem;
  justify-content: center;
  gap: 12%;
}

.item {
  // background-color: burlywood;
  padding: 0 1rem;
}

.item img {
  width: 200px;
  height: auto;
}

.item:last-child {
  padding-top: 2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-primary);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.section {
  padding: 9.6rem 0;
  background-color: rgb(164, 206, 164);
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
