@use 'pages';

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  &__2-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  &__3-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  &__4-cols {
    grid-template-columns: repeat(4, 1fr);
  }

  & .grid--center-v {
    align-items: center;
  }
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-primary-tint);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
