@use 'pages';

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  &__2-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  &__3-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  &__4-cols {
    grid-template-columns: repeat(4, 1fr);
  }

  & .grid--center-v {
    align-items: center;
  }
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-primary-tint);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

// .step-number {
//   font-size: 8.6rem;
//   font-weight: 600;
//   color: #ddd;
//   margin-bottom: 1.2rem;
// }

// .step-description {
//   font-size: 1.8rem;
//   line-height: 1.8;
// }

// .description {
//   font-size: 1.9rem;
//   line-height: 1.8;
// }
